/* Color Schemes: */
/* Sky:
light blue: E0F4FF 
blue: 87C4FF
darker blue: 39A7FF
tan: FFEED9*/

/* Sunset: 
dark purple: 22092C
burgondy: 872341
red: BE3144
orange: F05941*/

/* Coffee:
brown: 876445
caramel: CA965C
light brown: EEC373
skin color: F4DFBA */



body {
    min-height: 100vh;
    background-image: url("../images/backgroundImage.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F4DFBA;
    background-attachment: fixed;

}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas:
        "header header header header header header"
        "nav content content content content content"
        "footer footer footer footer footer footer";
}

.header {
    width: 100%;
    grid-area: header;

    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EEC373;
    background-color: #FFEED9;
    opacity: 0.7;
    color: #22092C;
}

.navigation {
    grid-area: nav;

    border-right: 1px solid #EEC373;
    background-color: #FFEED9;
    opacity: 0.7;
}

.content {
    grid-area: content;
    width: 100%;
    height: 100%;
}

.footer {
    grid-area: footer;

    justify-content: center;
    align-items: center;
    border-top: 1px solid #EEC373;
    background-color: #FFEED9;
    opacity: 0.7;
}

.recipeGrid {
    display: grid;
    grid-template-columns: 30px repeat(5, 1fr) 30px;
    grid-template-rows: 30px 230px 100px 1fr 3fr 30px;
    grid-template-areas:
        ". . . . . . ."
        ". img img img img img ."
        ". title title title title title ."
        ". ingredients description description description description ."
        ". ingredients preperation preperation preperation preperation ."
        ". . . . . . .";
}

.imgUrl {
    grid-area: img;
    background-color: #F4DFBA;
    opacity: 0.8;
}

.title {
    grid-area: title;
    display: flex;
    background-color: #F4DFBA;
    opacity: 0.8;
}


.ingredients {
    grid-area: ingredients;
    background-color: #F4DFBA;
    opacity: 0.8;
}


.descr {
    grid-area: description;
    background-color: #F4DFBA;
    opacity: 0.8;
}

.prep {
    grid-area: preperation;
    background-color: #F4DFBA;
    opacity: 0.8;
}

.recipeImage {
    height: 200px;
    width: 300px;
    margin-left: 200px;
    margin-top: 30px;
}

.recipeTitle {
    margin-left: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.recipeIngredientsList {
    padding: 0 0px;
}

.recipeIngredient {
    list-style: inside;
}

.spacing {
    padding: 0 40px 0 30px;
}

.bottomSpacing {
    padding-bottom: 30px;
}



ul {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;

    color: #22092C;
}

a:hover {
    color: #872341;
    text-decoration: underline;
}

h1 {
    margin: 0;
}



.flex {
    display: flex;
    gap: 30px;
}

.flexVertical {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.flexHorizontal {
    flex-direction: row;
}

.center {
    text-align: center;
}

.recipeContainer {
    width: 95%;
    justify-content: space-evenly;
}

.recipePreviewBox {
    background-color: #F4DFBA;
    height: 20rem;
    width: 30%;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    font-size: 1.5rem;
    text-align: center;
}

.buttonContainer {
    width: 100%;
    text-align: center;
}

.button {
    width: 20%;
    height: 50px;

    background-color: #EEC373;
    color: #22092C;
    opacity: 0.8;
}